.tooltip-icon {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  visibility: hidden;
  width: 80px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  /* Position the tooltip above the icon */
  left: 50%;
  margin-left: -40px;
  /* Use half of the width to center it */
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-text::after {
  content: '';
  position: absolute;
  top: 100%;
  /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip-icon:hover .tooltip-text,
.tooltip-icon:focus .tooltip-text,
.tooltip-icon:active .tooltip-text {
  visibility: visible;
  opacity: 1;
}